#home .container{
    background: url(../src/background.jpg);
    background-size:cover;
    display: grid;
    height: 49.2rem;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.content-home{
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-home p:first-child{
    font-size: 1.5em;
    font-weight: 600;
}

.content-home p:nth-child(2){
    font-size: 2.5em;
    font-weight: 600;
}

.content-home p:nth-child(3){
    font-size: 1.3em;
    font-weight: 400;
}

.content-home .button{
    justify-self: center;
}

.button{
    width: 12em;
    height: fit-content;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 1px 1px 2px black;
    transition: all 0.3s ease-in-out;
}

.button a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 600;
}

.button:hover{
    width: 13em;
    background-color: rgba(201, 201, 201, 0.4);
}

@media (max-width: 850px){
    .content-home p:first-child{
        font-size: 1em;
    }

    .content-home p:nth-child(2){
        font-size: 2.2em;
    }

    .content-home p:nth-child(3){
        font-size: 1.1em;
    }
}

@media (max-width: 500px){
    .content-home p:first-child{
        font-size: 1.1em;
    }
    
    .content-home p:nth-child(2){
        font-size: 1.7em;
    }

    .content-home p:nth-child(3){
        font-size: 1em;
    }
}