@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    background:linear-gradient(to right, #EBE3D5 0%, #EBE3D5 70%, #B0A695 70%, #B0A695 100%);
    font-size: 18px;
}

#skill .container{
    height: 45rem;
}